.item {
  list-style: none;
  padding: 7px;
  margin: 7px;
  background-color: whitesmoke;
  border-radius: 4%;
  width: 50%;
}

.thumbnail {
  width: 180px;
  height: 100%;
  border: solid 0.5px;
  margin-left: 10px;
  margin-right: 7px;
}

.li-box-text {
  flex-grow: 1;
  width: 54%;
}
.text {
  position: relative;
  top: 12px;
  left: 7px;
  width: 100%;
  font-size: 20px;
}

.them-title {
  color: black;
  text-decoration-line: none;
  font-size: 34px;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-container {
  display: flex;
  padding: none;
  margin-right: 20px;
}
