.Item {
  width: 17%;
  height: 1%;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  border-radius: 4%;
  overflow: hidden;
  border: solid 0.5px;
}

.Thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 나중에 옮겨야 하는 style */
.Item-container {
  align-content: flex-start;
  display: flex;
}

.TextBOX {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 20%;
  position: absolute;
  transform: translate(0%, -100%);
}

.Text {
  color: white;
  position: absolute;
  width: 100%;
  height: 17%;
  margin-left: 10%;
  transform: translate(0%, -100%);
  align-items: center;
  font-size: 15pt;
}
